.titulo-principal {
    margin-top: 40px;
    font-size: 16pt;
}

.red {
    color: red;
}

.green {
    color: green;
}

.red:hover {
    text-decoration: underline;
    color: red;
}

.green:hover {
    text-decoration: underline;
    color: green;
}

.white:hover {
    color: white;
    text-decoration: none;
}

footer {
    height: 80px;
    background-color: rgba(0,0,0,.1);
}

footer p {
    line-height: 80px;
    text-align: center;
    margin-bottom: 0px;
}
