/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto 10%;
    border: 1px solid red;
    background-color: rgba(235, 235, 211, 0.9);
}

header {
    height: auto;
    background-color: #F9CDAD;
}

/* logo */

#logo {
    height: 50px;
}

h1#logo {
    float: left;
    line-height: 50px;  
    font-family: 'Dancing Script', cursive;
}

/* menu */
#menu {
    border: 1px solid blue;
    float: right;
    height: 50px;
    margin-top: 50px;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    line-height: 50px;
    padding: 5px 10px;
}
/* clear */
.clear {
    clear: both;
}